In [34]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from ggplot import *
import numpy as np

<p> PGRNT_N = number of first year students receiving pell grants </p>
<br>
<p> PGRNT_P = percent of first year students receiving pell grants </p>

In [2]:
fa = pd.read_csv('sfa1314.csv')
fa.head()

,UNITID,XSCUGRAD,SCUGRAD,XSCUGFFN,SCUGFFN,XSCUGFFP,SCUGFFP,XSCFA2,SCFA2,XSCFA1N,...,XNPT410,NPT410,XNPT420,NPT420,XNPT430,NPT430,XNPT440,NPT440,XNPT450,NPT450
0,100654,R,4051,R,1066,R,26,R,4051.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1,100663,R,11542,R,1732,R,15,R,11542.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
2,100690,R,322,R,3,R,1,R,322.0,R,...,R,6332.0,R,8364.0,A,NaN,A,NaN,A,NaN
3,100706,R,5696,R,638,R,11,R,5696.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
4,100724,R,5356,R,1520,R,28,R,5356.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN

In [17]:
gr = pd.read_csv('gr200_14.csv')
gr.head()

,UNITID,XBAREVCT,BAREVCT,XBAEXCLU,BAEXCLU,XBAAC150,BAAC150,XBANC100,BANC100,XBAGR100,...,XL4AC200,L4AC200,XL4NC20A,L4NC200A,XL4STEND,L4STEND,XL4NC200,L4NC200,XL4GR200,L4GR200
0,100654,R,1133.0,R,0.0,R,1133.0,R,110.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1,100663,R,1485.0,R,1.0,R,1484.0,R,378.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
2,100690,R,1.0,R,0.0,R,1.0,Z,0.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
3,100706,R,801.0,R,0.0,R,801.0,R,128.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
4,100724,R,1298.0,R,0.0,R,1298.0,R,109.0,R,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN

In [4]:
fa.columns

Index(['UNITID', 'XSCUGRAD', 'SCUGRAD', 'XSCUGFFN', 'SCUGFFN', 'XSCUGFFP',
       'SCUGFFP', 'XSCFA2', 'SCFA2', 'XSCFA1N',
       ...
       'XNPT410', 'NPT410', 'XNPT420', 'NPT420', 'XNPT430', 'NPT430',
       'XNPT440', 'NPT440', 'XNPT450', 'NPT450  '],
      dtype='object', length=647)

In [40]:
hd = pd.read_csv('hd2015.csv',encoding="ISO-8859-1")

In [41]:
hd.head()

,UNITID,INSTNM,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,CHFTITLE,...,CSA,NECTA,F1SYSTYP,F1SYSNAM,F1SYSCOD,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",President,...,290,-2,2,,-2,1089,Madison County,105,-86.568502,34.783368
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,President,...,142,-2,1,The University of Alabama System,101050,1073,Jefferson County,107,-86.809170,33.502230
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael Turner,President,...,-2,-2,2,,-2,1101,Montgomery County,102,-86.174010,32.362609
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,President,...,290,-2,1,The University of Alabama System,101050,1089,Madison County,105,-86.638420,34.722818
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Gwen Boyd,President,...,-2,-2,2,,-2,1101,Montgomery County,107,-86.295677,32.364317

In [42]:
data = pd.merge(hd, fa, left_on='UNITID', right_on='UNITID')

In [43]:
data.head()

,UNITID,INSTNM,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,CHFTITLE,...,XNPT410,NPT410,XNPT420,NPT420,XNPT430,NPT430,XNPT440,NPT440,XNPT450,NPT450
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",President,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,President,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael Turner,President,...,R,6332.0,R,8364.0,A,NaN,A,NaN,A,NaN
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,President,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Gwen Boyd,President,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN

In [44]:
data = pd.merge(data, gr, left_on='UNITID', right_on='UNITID')

In [45]:
datadf = data[['INSTNM','PGRNT_P','BAGR100','NPIS422','NPIS432']]

INSTNM = College name
1. PGRNT_P = % of first year students receiving pell grant
SCUGFFN = Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort
2. BAGR100 = 4-year Graduation rate - bachelor's degree within 100% of normal time
3. NPIS422 = Average net price (income 30,001-48,000)-students receiving Title IV Federal financial aid, 2013-14
4. NPIS432 = Average net price (income 48,001-75,000)-students receiving Title IV Federal financial aid, 2013-14

In [46]:
datadf.head()

                                INSTNM  PGRNT_P  BAGR100  NPIS422  NPIS432
0             Alabama A & M University     80.0     10.0  14882.0  17479.0
1  University of Alabama at Birmingham     34.0     25.0  13703.0  16137.0
2                   Amridge University    100.0      0.0      NaN      NaN
3  University of Alabama in Huntsville     25.0     16.0  16849.0  19820.0
4             Alabama State University     71.0      8.0  11253.0  12817.0

In [48]:
datadf['index1'] = datadf['PGRNT_P'].multiply(datadf['BAGR100'], axis="index")

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [36]:
datadf.head()

                       INSTNM  PGRNT_P  BAGR100  NPIS422  NPIS432  index1
0               Allen College    100.0     79.0      NaN      NaN  7900.0
1      Briar Cliff University     43.0     35.0      NaN      NaN  1505.0
2      Buena Vista University     40.0     42.0      NaN      NaN  1680.0
3       Capri College-Dubuque     45.0      NaN      NaN      NaN     NaN
4  Capri College-Cedar Rapids     62.0      NaN      NaN      NaN     NaN

In [49]:
datadf['index2'] = datadf['NPIS422'] + datadf['NPIS432'] / 2

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
datadf.dropna()

,INSTNM,PGRNT_P,BAGR100,NPIS422,NPIS432,index1,index2
0,Alabama A & M University,80.0,10.0,14882.0,17479.0,800.0,23621.5
1,University of Alabama at Birmingham,34.0,25.0,13703.0,16137.0,850.0,21771.5
3,University of Alabama in Huntsville,25.0,16.0,16849.0,19820.0,400.0,26759.0
4,Alabama State University,71.0,8.0,11253.0,12817.0,568.0,17661.5
5,The University of Alabama,18.0,41.0,18895.0,20583.0,738.0,29186.5
7,Auburn University at Montgomery,51.0,1.0,12864.0,14412.0,51.0,20070.0
8,Auburn University,13.0,38.0,16053.0,18404.0,494.0,25255.0
26,Jacksonville State University,45.0,10.0,17452.0,19825.0,450.0,27364.5
32,University of West Alabama,58.0,16.0,12778.0,14785.0,928.0,20170.5
37,University of Montevallo,38.0,21.0,15148.0,18345.0,798.0,24320.5
39,University of North Alabama,43.0,11.0,9838.0,12353.0,473.0,16014.5
50,University of South Alabama,42.0,14.0,12409.0,16197.0,588.0,20507.5
56,Troy University,43.0,15.0,13921.0,14751.0,645.0,21296.5
59,University of Alaska Anchorage,35.0,9.0,7833.0,10343.0,315.0,13004.5
61,University of Alaska Fairbanks,29.0,12.0,8165.0,10657.0,348.0,13493.5
62,University of Alaska Southeast,36.0,4.0,9269.0,8615.0,144.0,13576.5
78,Arizona State University-Tempe,26.0,34.0,7702.0,12407.0,884.0,13905.5
80,University of Arizona,31.0,36.0,13050.0,16544.0,1116.0,21322.0
101,Northern Arizona University,35.0,30.0,11405.0,14461.0,1050.0,18635.5
120,University of Arkansas at Little Rock,56.0,7.0,12829.0,15165.0,392.0,20411.5
128,University of Arkansas,22.0,35.0,11721.0,15172.0,770.0,19307.0
129,University of Arkansas at Pine Bluff,80.0,8.0,7918.0,10023.0,640.0,12929.5
131,Arkansas State University-Main Campus,46.0,21.0,10259.0,12926.0,966.0,16722.0
132,Arkansas Tech University,58.0,18.0,9370.0,11223.0,1044.0,14981.5
133,University of Arkansas at Monticello,71.0,13.0,9282.0,10723.0,923.0,14643.5
137,University of Central Arkansas,47.0,23.0,9817.0,11133.0,1081.0,15383.5
147,Henderson State University,64.0,18.0,9921.0,11619.0,1152.0,15730.5
176,Southern Arkansas University Main Campus,59.0,15.0,9514.0,10745.0,885.0,14886.5
179,University of Arkansas-Fort Smith,61.0,9.0,6898.0,8986.0,549.0,11391.0
208,California Polytechnic State University-San Lu...,13.0,28.0,12644.0,16508.0,364.0,20898.0
...,...,...,...,...,...,...,...
3744,University of Puerto Rico-Cayey,76.0,19.0,6787.0,8453.0,1444.0,11013.5
3745,University of Puerto Rico-Humacao,84.0,6.0,6579.0,8339.0,504.0,10748.5
3746,University of Puerto Rico-Utuado,88.0,1.0,7492.0,9007.0,88.0,11995.5
3747,University of Puerto Rico-Mayaguez,67.0,5.0,9826.0,11346.0,335.0,15499.0
3748,University of Puerto Rico-Ponce,83.0,11.0,7561.0,9113.0,913.0,12117.5
3749,University of Puerto Rico-Rio Piedras,63.0,0.0,3090.0,5271.0,0.0,5725.5
3758,University of the Virgin Islands,63.0,12.0,11791.0,13425.0,756.0,18503.5
3760,Purdue University-Main Campus,19.0,39.0,8073.0,13391.0,741.0,14768.5
3861,New College of Florida,26.0,56.0,8181.0,9734.0,1456.0,13048.0
3921,Pennsylvania College of Technology,42.0,29.0,21098.0,23617.0,1218.0,32906.5
3935,California State University-San Marcos,47.0,13.0,7269.0,10382.0,611.0,12460.0
4067,University of Washington-Bothell Campus,41.0,39.0,7778.0,9269.0,1599.0,12412.5
4068,University of Washington-Tacoma Campus,56.0,21.0,5405.0,9083.0,1176.0,9946.5
4234,Arizona State University-West,50.0,33.0,6661.0,9863.0,1650.0,11592.5
4273,South Texas College,82.0,0.0,1524.0,3385.0,0.0,3216.5
4277,California State University-Monterey Bay,53.0,9.0,7357.0,11524.0,477.0,13119.0
4456,Arizona State University-Polytechnic,27.0,28.0,8783.0,11533.0,756.0,14549.5
4574,Florida Gulf Coast University,34.0,22.0,11772.0,15005.0,748.0,19274.5
4618,University of Connecticut-Tri-Campus,45.0,27.0,6751.0,9042.0,1215.0,11272.0
4619,University of Connecticut-Avery Point,36.0,23.0,6808.0,9517.0,828.0,11566.5
4620,University of Connecticut-Stamford,44.0,21.0,6969.0,9417.0,924.0,11677.5
4779,Nevada State College,60.0,3.0,12087.0,15222.0,180.0,19698.0
4782,California State University-Channel Islands,48.0,23.0,12522.0,16209.0,1104.0,20626.5
4930,University of California-Merced,64.0,30.0,9939.0,13532.0,1920.0,16705.0
5122,University of South Florida-St Petersburg,44.0,15.0,9468.0,12586.0,660.0,15761.0
5124,Arizona State University-Downtown Phoenix,37.0,26.0,8136.0,13083.0,962.0,14677.5
5832,Pennsylvania State University-World Campus,58.0,0.0,21825.0,24682.0,0.0,34166.0
5886,Augusta University,41.0,7.0,6844.0,9262.0,287.0,11475.0
5887,Middle Georgia State University,54.0,2.0,8662.0,11345.0,108.0,14334.5
5912,University of North Georgia,35.0,28.0,8626.0,10683.0,980.0,13967.5

In [50]:
datadf.head()

,INSTNM,PGRNT_P,BAGR100,NPIS422,NPIS432,index1,index2
0,Alabama A & M University,80.0,10.0,14882.0,17479.0,800.0,23621.5
1,University of Alabama at Birmingham,34.0,25.0,13703.0,16137.0,850.0,21771.5
2,Amridge University,100.0,0.0,NaN,NaN,0.0,NaN
3,University of Alabama in Huntsville,25.0,16.0,16849.0,19820.0,400.0,26759.0
4,Alabama State University,71.0,8.0,11253.0,12817.0,568.0,17661.5

In [52]:
datadf['finalindex'] = (datadf['index1']/datadf['index1'].mean()) + (datadf['index2']/datadf['index2'].mean())

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [57]:
datadf = datadf.dropna()

In [59]:
datadf.sort_values('finalindex', ascending=False)

,INSTNM,PGRNT_P,BAGR100,NPIS422,NPIS432,index1,index2,finalindex
3709,Puerto Rico Conservatory of Music,88.0,50.0,6765.0,10301.0,4400.0,11915.5,4.427839
2269,Morrisville State College,68.0,45.0,14411.0,19091.0,3060.0,23956.5,4.161826
1982,Rowan University,28.0,49.0,25298.0,25341.0,1372.0,37968.5,3.746867
224,University of California-Irvine,47.0,66.0,9925.0,13344.0,3102.0,16597.0,3.687843
1949,Granite State College,72.0,33.0,15655.0,14323.0,2376.0,22816.5,3.522705
2264,SUNY College of Technology at Alfred,55.0,44.0,13263.0,17661.0,2420.0,22093.5,3.508807
1345,Maine Maritime Academy,27.0,60.0,20541.0,20996.0,1620.0,31039.0,3.471355
2267,SUNY College of Agriculture and Technology at ...,59.0,38.0,13557.0,17669.0,2242.0,22391.5,3.383566
2959,University of Pittsburgh-Pittsburgh Campus,16.0,62.0,22959.0,26453.0,992.0,36185.5,3.312381
1998,Montclair State University,40.0,35.0,19953.0,22772.0,1400.0,31339.0,3.311843
3921,Pennsylvania College of Technology,42.0,29.0,21098.0,23617.0,1218.0,32906.5,3.271021
228,University of California-Santa Barbara,36.0,67.0,11353.0,14511.0,2412.0,18608.5,3.261511
2266,SUNY College of Technology at Delhi,60.0,37.0,11946.0,16935.0,2220.0,20413.5,3.228902
2285,SUNY at Purchase College,35.0,48.0,16118.0,20529.0,1680.0,26382.5,3.198841
1341,University of Maine at Farmington,51.0,41.0,13449.0,16000.0,2091.0,21449.0,3.194751
229,University of California-Santa Cruz,43.0,52.0,12021.0,15297.0,2236.0,19669.5,3.190615
2270,SUNY at Albany,37.0,53.0,13272.0,18400.0,1961.0,22472.0,3.158916
2926,Pennsylvania State University-Penn State Altoona,32.0,44.0,18163.0,21077.0,1408.0,28701.5,3.136199
2928,Pennsylvania State University-Penn State Berks,39.0,33.0,18877.0,22151.0,1287.0,29952.5,3.123488
1934,University of New Hampshire-Main Campus,23.0,60.0,17873.0,21516.0,1380.0,28631.0,3.108390
3427,Vermont Technical College,39.0,39.0,17049.0,19699.0,1521.0,26898.5,3.104225
2920,Pennsylvania State University-Penn State Erie-...,33.0,41.0,17976.0,21273.0,1353.0,28612.5,3.084992
2271,SUNY at Binghamton,27.0,68.0,13534.0,18424.0,1836.0,22746.0,3.075437
951,Northern Illinois University,54.0,28.0,16769.0,19514.0,1512.0,26526.0,3.071119
226,University of California-Riverside,55.0,42.0,10518.0,13013.0,2310.0,17024.5,3.068525
996,Western Illinois University,48.0,31.0,16245.0,19803.0,1488.0,26146.5,3.025241
2934,Pennsylvania State University-Main Campus,13.0,65.0,20750.0,25404.0,845.0,33452.0,3.003122
3082,South Carolina State University,79.0,15.0,18972.0,20881.0,1185.0,29412.5,3.002621
2933,Pennsylvania State University-Penn State Hazleton,48.0,29.0,16956.0,19725.0,1392.0,26818.5,2.993014
2017,Rutgers University-New Brunswick,28.0,57.0,14073.0,20537.0,1596.0,24341.5,2.989032
...,...,...,...,...,...,...,...,...
1246,Northern Kentucky University,38.0,13.0,5791.0,9405.0,494.0,10493.5,1.129599
3405,Utah Valley University,39.0,9.0,7586.0,9084.0,351.0,12128.0,1.125356
2659,Wright State University-Lake Campus,37.0,15.0,5453.0,8374.0,555.0,9640.0,1.120614
3607,West Virginia State University,53.0,7.0,7604.0,8405.0,371.0,11806.5,1.119532
1058,Purdue University-North Central Campus,45.0,5.0,7652.0,11593.0,225.0,13448.5,1.113350
2697,Oklahoma State University Institute of Technology,71.0,0.0,10767.0,10576.0,0.0,16055.0,1.109073
1035,Indiana University-East,54.0,5.0,7056.0,11241.0,270.0,12676.5,1.096887
2054,Northern New Mexico College,66.0,0.0,9685.0,12054.0,0.0,15712.0,1.085379
1291,Louisiana State University-Shreveport,45.0,9.0,6318.0,9054.0,405.0,10845.0,1.080967
1782,Harris-Stowe State University,90.0,0.0,9728.0,11822.0,0.0,15639.0,1.080336
5887,Middle Georgia State University,54.0,2.0,8662.0,11345.0,108.0,14334.5,1.078701
62,University of Alaska Southeast,36.0,4.0,9269.0,8615.0,144.0,13576.5,1.055832
2132,CUNY York College,78.0,4.0,6488.0,10052.0,312.0,11514.0,1.050990
2688,Northwestern Oklahoma State University,28.0,12.0,6099.0,9873.0,336.0,11035.5,1.037598
5886,Augusta University,41.0,7.0,6844.0,9262.0,287.0,11475.0,1.027815
1033,Indiana University-Northwest,39.0,6.0,6293.0,10415.0,234.0,11500.5,0.986156
3746,University of Puerto Rico-Utuado,88.0,1.0,7492.0,9007.0,88.0,11995.5,0.900739
2042,New Mexico Highlands University,58.0,5.0,5425.0,8219.0,290.0,9534.5,0.896224
3361,The University of Texas of the Permian Basin,23.0,17.0,4779.0,6995.0,391.0,8276.5,0.892066
1322,Southern University at New Orleans,56.0,0.0,8014.0,9271.0,0.0,12649.5,0.873823
771,Dalton State College,63.0,4.0,5781.0,7392.0,252.0,9477.0,0.861120
219,California State University-Los Angeles,73.0,7.0,2819.0,6512.0,511.0,6075.0,0.838298
3267,University of Houston-Downtown,64.0,1.0,6103.0,10481.0,64.0,11343.5,0.836037
3740,University of Puerto Rico-Aguadilla,86.0,6.0,3175.0,5052.0,516.0,5701.0,0.816558
214,California State University-Dominguez Hills,73.0,4.0,2002.0,5991.0,292.0,4997.5,0.584448
3108,Oglala Lakota College,86.0,1.0,3852.0,4671.0,86.0,6187.5,0.497886
3749,University of Puerto Rico-Rio Piedras,63.0,0.0,3090.0,5271.0,0.0,5725.5,0.395515
3692,Northern Marianas College,86.0,0.0,2317.0,4481.0,0.0,4557.5,0.314830
3712,Escuela de Artes Plasticas y Diseno de Puerto ...,83.0,0.0,2064.0,3514.0,0.0,3821.0,0.263953
4273,South Texas College,82.0,0.0,1524.0,3385.0,0.0,3216.5,0.222195